* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 50px;
    margin: 20px;
}

.header {
    display: flex;
}

.header-wrapper {
    background: #000000;
    color: #ffffff;
    height: 100%;
    width: 100%;
}

h1 span {
    color: #f657d3;
}

.main-name-container {
    position: absolute;
}

.main-name-container a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 24px;
    display: block;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

a:hover {
    color: #f657d3;
    border: 1px solid #f657d3;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}


.main-name-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.main-name-container li {
    margin: 8px;
}

.content-wrapper {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100%;
    background: #000000;
    color: #ffffff;
}

.night-part, .day-part {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.night-part img, .day-part img {
    width: 100%;
}